<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Register Now!</title>
  </head>
  <body>
<h1>Hello, world!</h1>
   <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="register.html">Longer nav link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " href="#">Disabled</a>
  </li>
</ul>
    <div class="jumbotron" style="width:500px; margin:auto;">
      
    <form method='POST' action='/registersb/'>
      {% csrf_token %}
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="email" name='email' class="form-control" id="email" placeholder="Enter your email">
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" name='name' class="form-control" id="name" placeholder="Enter your name">
    </div>
  </div>

  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input type="password" name='password' class="form-control" id="password" placeholder="Password">
    </div>
  </div>
  

  <div class="form-row">
    <label for="address" class="col-sm-2 col-form-label">Address</label>
    <div class="col">
      <input type="text" name='address' class="form-control" placeholder="House no./Street">
    </div>
    <div class="col">
      <input type="text" name='city' class="form-control" placeholder="City">
    </div>
    
    <div class="col">
      <input type="text" name='zip' class="form-control" placeholder="Zip">
    </div>
  </div>
  <br/>
  <div class="form-group row">
    <label for="phone" class="col-sm-2 col-form-label">Phno</label>
    <div class="col">
      <input type="number" name='phno' class="form-control" id="phno" placeholder="Contact Number">
    </div>
  </div>
      <div class="form-group row">
    <div class="col-md-2">
      <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
    </div>
  </div>
  </div>

</form>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>